html, body {
  width: 100%;
  height: 100%;
}
.headWrap {
  width: 100%;
  min-height: 1px;
}
.head {
  height: 71px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headDiv1 div {
  width: 180px;
  font-size: 15px;
  word-wrap: break-word;
}
.headDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}
.headDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}
.ourEmail {
  display: flex;
  flex-direction: column;
}
.ourPhone {
  display: flex;
  flex-direction: column;
}
.ourEmail span {
  color: #6cb306;
  font-size: 15px;
}
.ourEmail a {
  color: black;
  font-size: 20px;
}
.ourPhone span {
  color: #6cb306;
  font-size: 15px;
}
.ourPhone :last-child {
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.menuWrap {
  width: 100%;
  height: 46px;
  background-color: #36322d;
}
.menu {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.companyName {
  width: 220px;
  color: white;
  font-family: PTSans;
  font-size: 22px;
  font-weight: 700;
}
.menuNav {
  width: 650px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuNav span {
color: white;
font-family: PTSans;
font-size: 17px;
font-weight: 400;
}
